.footer{
  display: flex;
  align-items: center;
  padding: 47px 85px;
  background-color: $bg-color-dark;
  &__img{
    width: 236px;
    height: 26px;
    margin-right: 102px;
  }
  &__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item:nth-child(2){
      margin: 0 32px;
      &__link{
        display: block;
        margin: 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          color: #FEFCF7;
        }
      }
    }
  }
}

.network{
  width: 120px;
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-left: auto;
  &__item:nth-child(2){
    margin: 0 24px;
    &__img{
      width: 24px;
      height: 24px;
    }
    &__img-tiwitter{
      width: 24px;
      height: 19.5px;
    }
  }
}


